@model  TDM.SysCRM.ViewModels.Consultor.ConsultorExibicaoViewModel


<form class="form-horizontal">

    <div class="form-group">

        <label class="col-xs-12 col-md-4 control-label">@Html.DisplayNameFor(model => model.Nome)</label>
        <div class="col-xs-12 col-md-8">
            <p class="form-control-static">@Html.DisplayFor(model => model.Nome)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-md-4 control-label">@Html.DisplayNameFor(model => model.RecebeDistribuicaoLeads)</label>
        <div class="col-xs-12 col-md-8">
            <p class="form-control-static">@Html.DisplayFor(model => model.RecebeDistribuicaoLeads)</p>
        </div>
    </div>

</form>