@model TDM.SysCRM.ViewModels.Potencial.PotencialExibicaoViewModel
@using TDM.SysCRM.HtmlHelpers

@{
    ViewBag.Title = "Excluir";

    List<PropertiesButtons> botoes = new List<PropertiesButtons>();

    PropertiesButtons botao = new PropertiesButtons();
    botao.Label = "Voltar a Lista";
    botao.Action = "..\\Index";

    botoes.Add(botao);

    PropertiesButtons botao2 = new PropertiesButtons();
    botao2.Label = "Excluir";
    botao2.Submit = true;

    botoes.Add(botao2);
    PropertiesQuantityColumns ObjQuant = new PropertiesQuantityColumns();
    ObjQuant.Xs = 12;
    ObjQuant.Md = 10;

}


@using (Html.BeginForm())
{
    @Html.MyPanel("idDelete", "Excluir Potencial")

    @Html.AntiForgeryToken()

    <div class="form">
        @Html.Partial("_Details", Model)

    </div>
    @Html.MyEndPanel(botoes)

}


